/* Grid sections */
.headerSection {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section {
  /* padding-bottom: 4rem;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  border-top: 0.5px solid currentColor; */
}

.container {
  background: #f6f6f694;
}
.pageTitle {
  font-size: 3rem;
  margin-bottom: 2rem;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin: 0 auto;
  text-align: left;
  font-variation-settings: "wght" 376, "ital" 0, "SRFF" 0.425;
}
.pageSubtitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  line-height: 1.2;
  margin: 0 auto;
  text-align: left;
  background: linear-gradient(135deg, #373d38, #3a403b, #3d423f, #2d332d);
  background-clip: text;
  -webkit-background-clip: text;
  color: #1e201e;
  letter-spacing: -0.04em;
  font-optical-sizing: auto;
  font-synthesis: none;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "ss01" 1, "ss02" 1, common-ligatures discretionary-ligatures,
    "kern";
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  font-kerning: normal;
  text-wrap: balance;
  font-variation-settings: "wght" 326, "ital" 0, "SRFF" 0.425;
  hanging-punctuation: first last;
}

.pageSubtitle span {
  opacity: 0.66;
}

/* Typography */
.mainDescription {
  font-size: 1.65rem;
  line-height: 1.2;
  margin: 0;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
}

.sectionDescription {
  font-size: 1.33rem;
  padding-top: 1rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
  line-height: 1.2;
}

/* Contact section */
.contactInfo {
  line-height: 1.6;
}

.contactInfo p {
  margin: 0 0 0.5rem 0;
}

.contactInfo p:last-child {
  margin: 0;
}

.contactInfo a {
  color: inherit;
  text-decoration: underline;
}

/* List styles */
.listContainer {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-size: 1.35rem;
}

.listContainer li {
  margin: 0 0 0.5rem 0;
}

.listContainerWide li {
  margin: 0 0 0.5rem 0;
}

.listContainer li:last-child,
.listContainerWide li:last-child {
  margin: 0;
}

/* Table styles */
.table {
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  width: 100%;
  margin-left: -2rem;
  overflow: visible;
  /* border-left: 1px solid black; */
}

.tableHeader {
  border: none;
  padding-left: 0rem;
  margin: 0;
  font-weight: inherit;
  /* border-bottom: 1px solid gray; */
  text-align: left;
}

.tableCell {
  border: none;
  /* border-bottom: 1px solid gray; */
  padding: 0;
  padding-bottom: 1rem;

  vertical-align: top;
}

.tableRow:last-child .tableCell {
  border-bottom: none;
}

.tableCell:last-child {
  border-right: none;
}

/* Control column widths */
.tableCell:first-child {
  width: 2rem;
  margin-top: 0;
  padding-top: 0;
  text-align: left;
}

.btn {
  background: black;
  border-radius: 3px;
  border: 1px solid black;
  padding: 0.25rem 0.5rem;
  color: white;
}

/* Custom Image styles for performance testing */
.customImage {
  width: 100%;
  border-radius: 5px;
}

.imageContainer {
  position: relative;
}

/* Video responsive styles */
.videoSection {
  width: 100%;
}

.videoSection video {
  width: 100%;
  height: 85vh;
  border-radius: 5px;
  object-fit: fit;
  background-color: #26160a;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .videoSection video {
    height: 40vh;
  }

  .hideOnMobile {
    display: none;
  }

  .table {
    margin-left: 0;
  }

  .offeringsSection {
    margin-left: -20px;
    padding-left: 20px;
  }

  .tableCell:first-child {
    width: auto;
  }
}
