.ProjectContent {
    padding-top: 5rem;
    padding-left: 3rem;
    font-size: 1em;
    line-height: 1.5;
    padding-bottom: 5rem;
    display: flex;

}

.img {
    padding: .5rem 0;
    width: 100%;
}

.ProjectContent p {
    padding-bottom: 1rem;
}
.ProjectContent .mainContent {
    padding-right: 1.5rem;
   width: calc(100% - 250px);
   max-width: 69em;
}

.ProjectContent .context {
    max-width: 250px;
    font-size: .75em;
    padding-right: 1em;
     
}