.ProjectContent {
  padding-top: 2rem;
  padding-left: 3rem;
  font-size: inherit;
  line-height: 1.5;
  padding-bottom: 5rem;
  display: flex;
}

img {
  padding: 0.5rem 0;
  width: 50vw;
}

.ProjectContent p {
  padding-bottom: 1rem;
}
.ProjectContent .mainContent {
  padding-right: 1.5rem;
  width: calc(100% - 300px);
  max-width: 65em;
}

.ProjectContent .context {
  max-width: 300px;
  font-size: 0.8em;
  padding-right: 3em;
}

.ProjectContent .gatsby-resp-image-wrapper {
  max-width: 1040px !important;
}

.title {
  margin-bottom: 3rem;
}

/* Add this media query for mobile responsiveness */
@media (max-width: 768px) {
  .ProjectContent {
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% - 2rem);
    margin: 0 auto;
    box-sizing: border-box;
  }

  .ProjectContent .mainContent {
    width: 100%;
    padding-right: 0;
    max-width: none;
    box-sizing: border-box;
  }

  .ProjectContent .context {
    max-width: 100%;
    padding-right: 0;
    padding-top: 2rem;
  }

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    padding: 0.5rem 0;
  }

  /* If you have specific image containers that need different handling */
  .gatsby-resp-image-wrapper {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
