.Footer {
  border-top: 1px solid var(--background-color);
  padding-top: 1rem;
  background-color: var(--text-color);
  color: var(--background-color);
  position: relative;
  min-height: calc(100vh - 225px);
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Footer .canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.Footer .footer-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-between;
}

.top-row {
  padding-top: 2rem;
  align-items: flex-start;
}

.bottom-row {
  padding-bottom: 1rem;
  align-items: flex-end;
}

.contact-info {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 0rem;
  height: 100%;
}

.contact-section {
  margin-bottom: 1rem;
}

.system-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
}

.Footer .text {
  font-size: 1.75rem;
  line-height: 1.1;
  font-family: "Arizona Variable";
  font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1;
  letter-spacing: -0.17px;
  font-variation-settings: "wght" 300, "ital" 0, "SRFF" 0.5;
}

.Footer .smalls-container {
  padding: 0 calc(var(--padding-left) + var(--margin-left) + var(--spacing-1));
  position: relative;
  margin-top: auto;
  padding-bottom: 1rem;
  z-index: 2;
  width: calc(100% - 8rem);
  margin-left: 4rem;
  margin-right: 4rem;
}

.Footer .smalls {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  font-size: 1rem;
}

.Footer a {
  color: var(--background-color);
  text-decoration: none;
}

.Footer a:hover {
  text-decoration: underline;
}

.footer-logo {
  position: relative;
  z-index: 2;
  color: var(--background-color);
}

.col-margin-left span {
  font-size: 1rem;
}

.social-links {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .Footer .text {
    font-size: 1.35rem;
    line-height: 1.3;
    text-align: left;
    margin-bottom: 2rem;
  }

  .footer-logo {
    width: 25px !important;
    height: 32px !important;
  }

  .Footer .footer-content {
    padding: 1rem;
  }

  .contact-info {
    text-align: left;
    margin-top: 2rem;
  }

  .contact-section {
    margin-bottom: 1.5rem;
  }

  /* Reorder footer sections */
  .footer-content .row {
    display: flex;
    flex-direction: column;
  }

  .footer-content .col-main {
    order: 1;
    width: 100%;
  }

  .footer-content .col-margin-right {
    order: 2;
    width: 100%;
  }

  .footer-content .col-margin-left {
    order: 3;
    width: 100%;
  }
}
