.Footer {
    border-top: 1px solid black;
    padding-top: 1rem;

}
.Footer .text {


    font-size: 2.25rem;
    line-height: 1.1;
}

.Footer .smalls {
    bottom: .5rem;
    position: absolute;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}