.HeaderText {
  font-size: 1.75rem;
  padding: 0rem;
}

.HeaderText hr {
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 0;
  height: 1px;
  border: none;
  color: black; /* old IE */
  background-color: black; /* Modern Browsers */
}

.OneLiner {
  padding-bottom: 3rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

.SidebarHeader {
  font-size: 1rem;
  padding: 0;
  border-bottom: 1px solid var(--text-color);
  display: flex;
  align-items: center;
  height: 2rem;
  margin-bottom: -1px;

  * {
    padding-left: 0.25rem;
  }
}

.SidebarHeader .items {
  display: inline;
  padding-right: 1rem;
}

.ProjectHeader {
  font-size: 1rem;
  padding: 0;
  border-bottom: 1px solid var(--text-color);
  display: flex;
  align-items: center;
  height: 2rem;
  margin-bottom: -1px;
}

.HeaderGrid {
  display: flex;
  border-bottom: 1px solid var(--text-color);
}

.HeaderGrid > :first-child {
  width: 24rem;
  border-bottom: none;
}

.HeaderGrid > :nth-child(2) {
  flex-grow: 1;
  border-bottom: none;
}
