.mainbar-item {
  padding: 1.275rem 0.75rem;
  border-bottom: 1px solid var(--opposite-color);
  color: var(--text-color);
  transition: all 1s ease;
  max-width: 100%;
}

.mainbar-item:hover .title-date-container h3 {
  transition: all 1s ease;
  font-variation-settings: "wght" 400, "ital" 0, "SRFF" 0.75;
}

.mainbar-item:hover {
  cursor: pointer;
  color: var(--text-color);
}

.mainbar-item:hover .title-date-container h3 {
  color: var(--text-color);
  font-variation-settings: "wght" 600, "ital" 0, "SRFF" 0;
}

.mainbar-item-active {
  /* Add styles for the active mainbar item, for example: */
  color: var(--text-color);
}

.mainbar-item .title-date-container {
  display: grid;
  grid-template-columns: 2fr 5fr 1fr; /* 3 columns for desktop */
  gap: 20px;
}

.mainbar-item .date {
  text-align: right;
}

.mainbar-item .title {
  text-align: left;
}

.mainbar-item p {
  font-size: 1em;
}

.mainbar-item .title-date-container h3 {
  margin: 0;
  padding-bottom: 0.25rem;
  font-size: 1.1em;
  font-weight: 400;
  margin-left: 12.5vw;
}

.mainbar-item .title-date-container span {
  margin-right: 12.5vw;
  font-size: 1em;
  font-variation-settings: "wght" 300, "ital" 0, "SRFF" 00;
}

.mainbar-item .text-snippet {
  text-align: left;
  margin-left: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .mainbar-item {
    padding: 1.5rem 0;
    margin: 0;
    width: 100%;
  }

  .mainbar-item .title-date-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: flex-start;
    padding: 0 1rem;
  }

  .mainbar-item .title-date-container h3,
  .mainbar-item .text-snippet,
  .mainbar-item .title-date-container span {
    margin: 0;
    width: 100%;
    text-align: left;
  }

  .mainbar-item .title-date-container h3 {
    font-size: 1.1rem;
    order: 1;
  }

  .mainbar-item .text-snippet {
    order: 2;
  }

  .mainbar-item .title-date-container span {
    order: 3;
  }
}
