.mainbar-item {
  padding: 1.275rem .75rem;
  border-bottom: 1px solid var(--opposite-color);
  color: var(--gray-color);
  transition: all 1s ease;
  max-width: 100%;
        
  /* Add other styles for the mainbar item */
}


.mainbar-item:hover .title-date-container h3 {
    transition: all 1s ease;
        font-variation-settings: "wght" 400, "ital" 0, "SRFF" .75;
}

.mainbar-item:hover {
    cursor: pointer;
      color: var(--text-color);
}



.mainbar-item:hover .title-date-container h3  {
   color: var(--text-color);
  font-variation-settings: "wght" 600, "ital" 0, "SRFF" 0;
}

.mainbar-item-active {
  /* Add styles for the active mainbar item, for example: */
 color: var(--text-color);
}

.mainbar-item .title-date-container {
 display: grid;
  grid-template-columns: 1fr 5fr 1fr; /* 3 columns of equal width */
  gap: 20px; /* Space between grid items */
}

.mainbar-item .date{
    text-align: right;
}

.mainbar-item .title{
    text-align: left;
}

.mainbar-item p { font-size: .875em;}

.mainbar-item .title-date-container h3 {
  margin: 0;
  padding-bottom: .25rem;
  font-size: .9em;
        font-weight: 400;
}

.mainbar-item .title-date-container span {
  margin: 0;
   font-size: .875em;
      font-variation-settings: "wght" 300, "ital" 0, "SRFF" 00;
}

.mainbar-item .text-snippet {
  
}