.sidebar-item {
  padding: 1.275rem .75rem;
  border-bottom: 1px solid var(--opposite-color);
  color: var(--gray-color);
  transition: all 1s ease;
        
  /* Add other styles for the sidebar item */
}


.sidebar-item:hover .title-date-container h3 {
    transition: all 1s ease;
        font-variation-settings: "wght" 400, "ital" 0, "SRFF" .75;
}

.sidebar-item:hover {
    cursor: pointer;
      color: var(--text-color);
}

.sidebar-item:hover .title-date-container h3  {
   color: var(--text-color);
      font-variation-settings: "wght" 600, "ital" 0, "SRFF" 0;
}

.sidebar-item-active {
  /* Add styles for the active sidebar item, for example: */
 color: var(--text-color);
}

.title-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-item p { font-size: .875em;}

.title-date-container h3 {
  margin: 0;
  padding-bottom: .25rem;
  font-size: .9em;
        font-variation-settings: "wght" 400, "ital" 0, "SRFF" 0;
}

.title-date-container span {
  margin: 0;
   font-size: .875em;
      font-variation-settings: "wght" 300, "ital" 0, "SRFF" 00;
}
