.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top: 1px solid white; */
}
.nav span {
  padding-left: 0.66rem;
  padding-right: 0.66rem;
}

.nav span a {
  text-decoration: none !important;
  border-bottom: none !important;
}

.logo {
  font-family: "Arizona Variable";
  font-size: 1.25rem;
  font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1;
  font-variation-settings: "wght" 300, "ital" 0, "SRFF" 0.45;
  transition: all .5s ease;
  letter-spacing: 0.25px;
  /* width: auto; */
}

.logo:hover {
  font-variation-settings: "wght" 600, "ital" 0, "SRFF" 0;
  /* letter-spacing: -0.25px; */
  cursor: pointer;
}
.nav-middle {
  /* position: relative; */
  align-items: center;
  display: flex;
  margin: 0 auto;
}
.nav-link {
  font-family: "Arizona Variable";
  font-size: 1rem;
  font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1;
  font-variation-settings: "wght" 300, "ital" 0, "SRFF" 0.45;
  transition: all 1s ease;
  letter-spacing: 0.25px;
}

.nav-link:hover {
  font-variation-settings: "wght" 600, "ital" 0, "SRFF" 0;
  letter-spacing: 0;
  cursor: pointer;
}

.contact-container {
  display: flex;
  align-items: center;
  gap: 15px; /* Space between CONTACT and Instagram icon */
}

.instagram-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.instagram-link svg {
  margin-top: -1px; /* Minor adjustment for vertical centering */
}
