.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  /* border-top: 0.5px solid #000; */
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.svgAnimation {
  width: 200px;
  height: auto;
  animation: svgAppear 0.4s ease-out forwards;
}
