
html, body, div, p, h1,h2,h3,h4 {
  font-family: "Times";
}

@media screen and (max-width:640px) {
  .text {
    font-size: 16px;
    margin: 0;
  }

  main {
    padding: 1rem !important;
  }
}

.text {
    mix-blend-mode: difference;
    color: white;
      font-family: "Times";
    margin: 0 auto;
    z-index: 5;
    font-size: 20px;
 
letter-spacing: -.17px;
    transition: all 1.3s ease;

  animation-timing-function: ease-in-out;

       
}



.btRight {
  position:fixed;
  bottom: 2.6rem;
  right: 4.15rem;
    letter-spacing: -.5px;
    line-height: 14.5px;
    font-size: 15px;
    text-align: right;
    text-transform: uppercase;
        transition: all 1.3s ease;

  animation-timing-function: ease-in-out;
}
.btLeft {
  position:fixed;
  bottom: 3rem;
  right: 2rem;
    letter-spacing: 0px;
    line-height: 18px;
    font-size: 40px;
    text-transform: uppercase;
  

  animation-timing-function: ease-in-out;
}



.btRight:hover {
  letter-spacing: -.5px;
}

.btLeft:hover {
  letter-spacing: 1.5px;
  animation: rotate 2s linear 0s infinite normal forwards;

}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(90deg);
  }

  25% {
    transform: rotate(90deg);
  }

  37.5% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62.5% {
    transform: rotate(270deg);
  }

  75% {
    transform: rotate(270deg);
  }
  87.5% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }

}

.draw {
  border-bottom: 1px solid #fff;
  cursor: pointer;
  pointer-events: all;
    line-height: 1.1;
    transition: all 0.6s ease;
}

.draw:hover {
}

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }

 a  {
  border-bottom: 1px solid #fff;
  display: inline-block;
      box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  line-height: 1.1;
  transition: all 0.6s ease;
   
  
 }

a:hover {
    
}

 .text:hover {
 
        letter-spacing: 0px;

} 


