@font-face {
  font-family: "ITCGaramond";
  src: url("../../fonts/itcgaramondstd-ltcond.otf");
}
.text {
    mix-blend-mode: difference;
    color: white;
    position: relative;
    font-family: "ITCGaramond";
    margin: 0 auto;
    z-index: 5;
    font-size: 3vw;
        pointer-events: none;
}

.text-header{
     mix-blend-mode: difference;
    color: white;
    position: relative;
    font-family: "ITCGaramond";
    margin: 0 auto;
    z-index: 5;
    font-size: 10vw;
        pointer-events: none;
}

button {
  background-color: black;
  color: white;
  padding: 2px 4px;
  border-radius: 1px;
  z-index:5;
  position:absolute;
  right: 100px;
  top: 100px;
  cursor: pointer;
}