@font-face {
  font-family: "Arizona Variable";
  src:
       url("../../fonts/ABCArizonaPlusVariable.woff2") format("woff2-variations"),
       url("../../fonts/ABCArizonaPlusVariable.woff") format("woff-variations"),
       url("../../fonts/ABCArizonaPlusVariable.ttf") format("truetype-variations");
}

html, body, div, p, h1,h2,h3,h4 {
  font-family: "Arizona Variable";
  margin: 0;

}




.stretched-text {
  -webkit-transform: scaleY(1.15); /* Chrome, Safari, and Opera */
  -ms-transform: scaleY(1.15);     /* Internet Explorer 9 */
  -moz-transform: scaleY(1.15);    /* Firefox */
  -o-transform: scaleY(1.15);      /* Opera (older versions) */
  transform: scaleY(1.15);         /* Standard syntax */
  font-size: 2.55rem;
  letter-spacing: -2px;
      font-variation-settings: "wght" 350, "ital" 0, "SRFF" .50;
}

.image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
@media screen and (max-width:640px) {
  .text {
    margin: 0;
  }

  main {
    padding: 1rem !important;
  }
}

.text {

      font-family: "Arizona Variable";
    	font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1;
      letter-spacing: -.17px;
    font-variation-settings: "wght" 300, "ital" 0, "SRFF" .50;
    margin: 0 auto;
    z-index: 5;
    font-size: 20px;
 

    transition: all 1.3s ease;

  animation-timing-function: ease-in-out;


  
       
}

h2.text  {
  font-size: 1.66rem;
   font-variation-settings: "wght" 200, "ital" 0, "SRFF" .50;
   line-height: 1.15;
   margin-left: 1rem;
}




.btRight {
  position:fixed;
  bottom: 2.6rem;
  right: 4.15rem;
 	font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1;
    font-variation-settings: "wght" 420, "ital" 0, "SRFF" .10;
    letter-spacing: -.5px;
    line-height: 14.5px;
    font-size: 15px;
    text-align: right;
    text-transform: uppercase;
        transition: all 1.3s ease;

  animation-timing-function: ease-in-out;
}
.btLeft {
  position:fixed;
  bottom: 3rem;
  right: 2rem;
 	font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1;
    font-variation-settings: "wght" 420, "ital" 0, "SRFF" .10;
    letter-spacing: 0px;
    line-height: 18px;
    font-size: 40px;
    text-transform: uppercase;
  

  animation-timing-function: ease-in-out;
}



.btRight:hover {
  font-variation-settings: "wght" 200, "ital" 0, "SRFF" .30;
  letter-spacing: -.5px;
}

.btLeft:hover {
  font-variation-settings: "wght" 380, "ital" 0, "SRFF" 0;
  letter-spacing: 1.5px;
  animation: rotate 2s linear 0s infinite normal forwards;

}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(90deg);
  }

  25% {
    transform: rotate(90deg);
  }

  37.5% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62.5% {
    transform: rotate(270deg);
  }

  75% {
    transform: rotate(270deg);
  }
  87.5% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }

}

.draw {
  border-bottom: 1px solid #fff;
  cursor: pointer;
  pointer-events: all;
    line-height: 1.1;
    transition: all 0.6s ease;
}

.draw:hover {
   
     font-variation-settings: "wght" 500, "ital" 0, "SRFF" .70; 
}

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }

 a  {
  border-bottom: 1px solid #fff;
  display: inline-block;
      box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  line-height: 1.1;
  transition: all 0.6s ease;
   
  
 }

a:not(.logo):hover {
    cursor: pointer;
     font-variation-settings: "wght" 500, "ital" 0, "SRFF" .4; 
}

 .text:hover {
   font-variation-settings: "wght" 220, "ital" 0, "SRFF" 0; 
 
        letter-spacing: 0px;

} 


