@font-face {
  font-family: "Arizona Variable";
  src:
       url("../../fonts/ABCArizonaPlusVariable.woff2") format("woff2-variations"),
       url("../../fonts/ABCArizonaPlusVariable.woff") format("woff-variations"),
       url("../../fonts/ABCArizonaPlusVariable.ttf") format("truetype-variations");
}


a {
    color: inherit; /* Inherits the color from its parent */
    text-decoration: none; /* Removes underline */
    cursor: auto; /* Uses the default cursor instead of the pointer */
}

/* index.css */
:root {
  --background-color: white;
  --text-color: black;
  --gray-color: #f5f5f5;
}

.text-animate {

    font-variation-settings: "wght" 260, "ital" 0, "SRFF" .6;
}
.text-animate:hover span {
  
  transition: 1s ease-in-out;
    font-variation-settings: "wght" 380, "ital" 0, "SRFF" 0;
    letter-spacing: -3.5px;

}


 canvas:hover {
  cursor: cell;
 }
body {
  background-color: var(--background-color);
  color: var(--text-color);
  /* Other styles... */
}


.grid-container {
  padding: .75rem 0;
  margin: 0 0rem;
  display: flex;
  justify-content: space-between; /* This will space the items evenly */
  align-items: center; /* Aligns items vertically in the center */
  width: 100%; /* Full width of the container */
}

.grid-item {
  text-align: center; /* Centers the text in each item */
  /* Add any additional styling you need here */
  font-size: 15px;
  display: inline-flex;
  align-content: center;
}

h1 {
  line-height: 1;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  padding: 3rem 1rem;
  padding-top: 3rem;  
  letter-spacing: -.1rem !important;
  text-align: center;

}

html, p, h1,h2,h3,h4 {
  font-family: "Arizona Variable", serif, sans-serif;
  margin: 0;
      font-family: "Arizona Variable";
    	font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1;
      letter-spacing: -.17px;
    margin: 0 auto;

}

/* p:not(:has(img)),span:not(:has(img)), h1,h2,h3,h4{
mix-blend-mode: difference !important;
} */




* {
  transition: font-variation-settings 0.3s ease;
}



body {
  margin: 0;
}

.top-nav {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 100;
  padding: 1rem;
}

.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.canvas {
  width: 100%;
  height: 100%;
}

.header {
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: var(--background-color);
  z-index: 10;
}

.text-header {
  display: flex;
  /* justify-content: space-between; */
 
    padding-top: 1rem;
    padding:  0rem 1rem;
    padding-bottom: 2.5rem;

  
}

.link-primary {
border: 1px solid black;
padding: .25rem 1rem;
border-radius: 5px;
margin-left: .5rem;
text-transform: uppercase;
font-size: 1.25rem;
    font-variation-settings: "wght" 260, "ital" 0, "SRFF" 0;
    

}

.label {
     
      padding: 2rem;
       padding-bottom: 1rem;

         text-align: center;
    
}


.text-header .text-left {
  
  
flex-basis: 90%;
  width: 100%;
  font-size: 2rem;
  letter-spacing: -.75px;
  line-height: 1.25;
  max-width: 75%;
  padding-bottom: 2rem;
}

.image-container {
      border-top: 1px solid black;
      padding: 2rem 1rem 2rem 1rem; 

    
  display: flex;
  align-items: flex-start;
  
}

.image1 {
  width: 33%;
  height: auto;
  margin-right: 1rem;
    object-fit: contain; /* Ensures the image is fully visible */
}

.image2 {
  width: 66%;
  height: auto;
    object-fit: contain; /* Ensures the image is fully visible */
}


.sidebar {
  position: sticky;
  top: 0;
  padding: 1rem;
  width: 20%;
  background-color: var(--background-color);
}

.project {
  padding: 1rem;
  width: 80%;
}

.footer {
  padding: 1rem;
}
