.pixelated-checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.pixelated-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.pixelated-checkbox-custom {
  width: 12px;
  height: 12px;
  background: #fff;
  border: 1px solid #000;
  position: relative;
  box-shadow: inset -1px -1px #808080, inset 1px 1px #fff;
  image-rendering: pixelated;
}

.pixelated-checkbox:checked + .pixelated-checkbox-custom {
  background: #d8d8d8;
  box-shadow: inset 1px 1px #808080, inset -1px -1px #fff;
}

.pixelated-checkbox:checked + .pixelated-checkbox-custom::after {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  width: 7px;
  height: 7px;
  background-color: #000;
  box-shadow: 1px 0 #000, 2px 0 #000, 3px 0 #000, 0 1px #000, 1px 1px #000;
}
