.font-settings-toggle {
  position: relative;
  display: inline-block;
}
.font-settings-toggle:hover {
    cursor: pointer;
}

.font-settings-popup {
  position: absolute;
  top: 0rem; /* Adjust this value to position the popup above the icon */
  left: 2rem;
  background-color: black;
  border-radius: 3px;
  padding: 0.5rem;
  border: 1px solid white;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}
