.font-labels {
    display: flex !important;
    padding-right: 0 !important;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 12px;
    color: #999;
}

.example {
    color: black;
}





input[type=range] {
  -webkit-appearance: none; /* Remove default appearance */
  width: 100%;
  height: 4px; /* Make the bar thinner */
  background-color: lightgray; /* Change the bar background color */
  outline: none;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default appearance */
  width: 12px;
  height: 12px;
  background-color: black; /* Change the thumb color */
  border: none;
  border-radius: 50%;
}

input[type=range]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background-color: black; /* Change the thumb color */
  border: none;
  border-radius: 50%;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px; /* Make the bar thinner */
  background-color: black; /* Change the bar background color */
  outline: none;
  cursor: pointer;
}


.font-size-options {
  display: flex;
  margin-top: 1rem;
}

.font-settings-slider {
  border: 1px solid gray;
  padding: .33rem;
  border-radius: 2px
}

.font-size-option {
  background-color: transparent;
  border: none;
  padding: 4px 8px;
  font-size: 14px;
  color: black;
  cursor: pointer;
  outline: none;
}

.font-size-option:not(:last-child) {
  border-right: 1px solid white;
}

.font-size-option.active {
  background-color: lightgray;
}
