@font-face {
  font-family: "Arizona Variable";
  src:
       url("../../fonts/ABCArizonaPlusVariable.woff2") format("woff2-variations"),
       url("../../fonts/ABCArizonaPlusVariable.woff") format("woff-variations"),
       url("../../fonts/ABCArizonaPlusVariable.ttf") format("truetype-variations");
}

/* index.css */
:root {
  --background-color: white;
  --text-color: black;
  --gray-color: #f5f5f5;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  /* Other styles... */
}


html, p, h1,h2,h3,h4 {
  font-family: "Arizona Variable", serif, sans-serif;
  margin: 0;
      font-family: "Arizona Variable";
    	font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1;
      letter-spacing: -.17px;
    margin: 0 auto;

}

/* p:not(:has(img)),span:not(:has(img)), h1,h2,h3,h4{
mix-blend-mode: difference !important;
} */




* {
  transition: font-variation-settings 0.3s ease;
}



body {
  margin: 0;
}

.top-nav {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 100;
  padding: 1rem;
}

.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.canvas {
  width: 100%;
  height: 100%;
}

.header {
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: var(--background-color);
  z-index: 10;
}

.main-content {
  display: flex;
}

.sidebar {
  position: sticky;
  top: 0;
  padding: 1rem;
  width: 20%;
  background-color: var(--background-color);
}

.project {
  padding: 1rem;
  width: 80%;
}

.footer {
  padding: 1rem;
}
