/* layout.module.css */
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
margin: 0 .5rem;
}

.header-nav {
  position: sticky;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  padding: 0.1rem;
}

.header-nav a {
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
  margin-left: 1rem;
}

.header-nav a:hover {
  color: gray;
}

.main-content {
  flex: 1;
  padding: 0;
  margin-top: 0rem;
  padding-top: 0rem;
}

.footer {
  padding: 1rem;
  background-color: #f0f0f0;
  text-align: center;
  font-size: 0.8rem;
}
