.line {
  width: 100%;
  height: 0.75px;
  background-color: rgba(0, 0, 0, 1);
  margin-bottom: 0rem;
  margin-top: 0rem;
  padding: 0;
  /* margin-bottom: 1rem;
  margin-left: -1rem;
  margin-right: -1rem; */
}
