.glossary-sidebar-item {
  padding: 0.775rem 0.75rem;
  border-bottom: 1px solid var(--opposite-color);
  color: var(--text-color);
  transition: all 1s ease;
}

.glossary-sidebar-item:hover .title-date-container h3 {
  transition: all 1s ease;
  font-variation-settings: "wght" 400, "ital" 0, "SRFF" 0.75;
}

.glossary-sidebar-item:hover {
  cursor: pointer;
  background-color: rgba(var(--opposite-color-rgb), 0.05);
}

.glossary-sidebar-item.active {
  background-color: rgba(var(--opposite-color-rgb), 0.1);
}

.glossary-sidebar-item:hover .title-date-container h3,
.glossary-sidebar-item.active .title-date-container h3 {
  color: var(--text-color);
  font-variation-settings: "wght" 600, "ital" 0, "SRFF" 0;
}

.title-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-variation-settings: "wght" 300, "ital" 0, "SRFF" 0.5;
}

.title-date-container h3 {
  margin: 0;
  padding-bottom: 0.25rem;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0px !important;
}

.title-date-container span {
  margin: 0;
  font-size: 0.875em;
  font-variation-settings: "wght" 300, "ital" 0, "SRFF" 00;
  opacity: 0.7;
}
