/* Table component */
.tableBox {
  border: 0.5px solid currentColor;
  margin-bottom: 2rem;
  border-radius: 2px;
  background-color: #f8f8f8;
}

/* .tableHeader {
  padding: 1rem;
  border-bottom: 0.5px solid currentColor;
  font-weight: bold;
} */

.tableContent {
  padding: 0;
}

.tableLeft {
  padding: 1rem;
  border-right: 0.5px solid currentColor;
}

.tableRight {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableTitle {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

.tableSubtitle {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
}

.tableDivider {
  height: 0.5px;
  background-color: currentColor;
  margin: 0 -1rem 0.5rem -1rem;
}

.tableBody {
  margin: 0;
  line-height: 1.4;
}
